*{
    margin-bottom: 0px!important;
}

.welcome-box{
    width: 100%;
    height: auto;
    background-color: var(--pale-blue);
    text-align: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, var(--pale-blue) 0%, var(--pale-orange) 100%);
}

.welcome-title{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, var(--uf-blue), var(--uf-orange));
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: none; */
    font-weight: 900;
    /* padding:15px; */
    color: var(--uf-blue)
    /* font-size: 40px;
    font-weight: 900;
    padding: 15px;
    color: var(--uf-blue);
    text-shadow: 
        1px 1px 0 var(--light-blue),
        2px 2px 0 var(--uf-orange),
        3px 3px var(--light-orange); */

}

.welcome-message{
    /* font-size: 25px; */
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    font-weight: 800;
    padding-bottom: 15px;
    color: var(--dark-blue);

}

.welcome-submessage{
    /* font-size: 15px;
    font-weight: 600; */
    font-size: 1.2rem;
    color: var(--uf-orange);
    font-weight: 500;
}